.info-contenedor{
    margin: 0rem 3rem 1rem 3rem;

    h1::after{
        @include subr($teal, 0.4rem);
    }
}


.info-contenido{
    margin: 4rem 0;
    @include grid(1, 5rem);

    @include tablet{
        @include grid(3, 5rem);
    }

    .info-header{
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center; /* Centrar horizontalmente */

    }
    svg{
        width: 5rem; /* Tamaño deseado del contenedor */
        height: 5rem;
        margin-right: 3rem;
        
        path{
            stroke: $teal;
        }
    }
    p{
        text-align: center;
        font-size: 1.5rem;
    }
}

//Bloque principal 
.main-contenedor{
    background-color: $stone;
    .main, .main-2{

        @include grid(2,5rem);
            padding: 5rem 10rem;
            
            .main-image{
                display: flex;
                justify-content: center;
                align-items: center;
                
                object-fit: contain;
                
              
            }
    
            .main-body{
                text-align: center;
                font-size: 1.5rem;
                h3{
                    margin-top: 0;
                    font-size: 3rem;
                }
                p{
                    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

                }
                
                .lista-productos, .lista-elegirnos {
                    padding: 0;
                    list-style: none;
                    margin: 0;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    li {
                        max-width: 50rem;
                        text-align: left;
                        border: 1px solid #ccc;
                        background-color: #fff;
                        margin: 1rem;
                        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                        border-radius: 1rem;
                    
                      h3 {
                        font-size: 2.5rem;
                        margin: 0 0 10px;
                        background-color: $teal;
                        width: 100%;
                        border-radius: 0 0 0 1rem;
                        font-weight: 400;
                        color: white;

                      }
                
                      p {
                        padding: 1.2rem;
                        font-size: 1.8rem;
                        margin: 1rem 0;
                        color: #555;
                        justify-items: center;
                        text-align: center;
                        
                      }
                    }
                  }
                }
            }
        }                
                
.main{
    padding-top: 2rem;
}
.margen-bottom{
    margin-bottom: 2rem;
}