<!DOCTYPE html>
<html>
<head>
    <style>
        .card {
            width: 300px;
            height: 200px;
            background-color: #f0f0f0;
            transition: opacity 0.3s; /* Definimos la propiedad que queremos animar y la duración de la transición */
            background-color: aqua;
        }

        .card:hover {
            opacity: 0.8; /* Cambiamos el valor de la propiedad para crear la animación */
        }
    </style>
</head>
<body>
    <div class="card">
        <h3>Mi Tarjeta</h3>
        <p>Contenido de la tarjeta.</p>
    </div>
</body>
</html>