{% include 'includes/header.html' %} 
<!-- <h1>Contacto</h1>
 --><section class="banner-contenedor-contacto">
    
    </section>

<section class="contacto-contenedor">
    
    <h1>Contactenos</h1>
    <div class="contacto-contenido">
    
        <div>

            <a href="mailto:orellanalucas1@gmail.com?subject=Asunto del correo&body=Cuerpo del mensaje"> 
                <div class="contacto">
                    <p>lu.orella@doc.cl</p>
                    <h2>Correo</h2>
                </div>
            </a>
        </div>
        

        
        <div>
            <a href="https://www.youtube.com/watch?v=VOIpqtUb0zs&t=5581s"> 
                <div class="contacto">
                    <p>+56 9 0000 4444</p>
                    <h2>WhatsApp</h2>
                </div>
            </a>
        </div>
    
    </div>
</section>


{% include 'includes/footer.html' %} 
