
    {% include 'includes/header.html' %} 

    <!-- Banner -->
    <section class="banner-contenedor">
        <div class="banner-contenido">
            <h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque dolores cupiditate aspernatur quos ab earum nesciunt exercitationem? Perspiciatis, velit molestias.</h3>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, reprehenderit.</p>
        </div>
    </section>

    <!-- Guia de contacto -->
    
    <section class="info-contenedor">
        <h1>
            ¿Como arriendo?
        </h1>
        
        <div class="info-contenido">
            
            <div class="icon-1">
                <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 18">
                    <path  stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M16 5h2a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1h-2v3l-4-3H8m4-13H2a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h2v3l4-3h4a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1Z"/>
                  </svg>
                  <h3>Contacta con nosotros:</h3>
                  <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae recusandae ipsum a earum ex aut itaque exercitationem nesciunt aliquid labore! </p>
            </div>
            <div class="icon-2">
                <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 20">
                    <path  stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M6 1v4a1 1 0 0 1-1 1H1m8-2h3M9 7h3m-4 3v6m-4-3h8m3-11v16a.969.969 0 0 1-.932 1H1.934A.97.97 0 0 1 1 18V5.828a2 2 0 0 1 .586-1.414l2.828-2.828A2 2 0 0 1 5.829 1h8.239A.969.969 0 0 1 15 2ZM4 10h8v6H4v-6Z"/>
                  </svg>
                  
                  <h3>Cotiza el producto:</h3>
                  <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae recusandae ipsum a earum ex aut itaque exercitationem nesciunt aliquid labore! </p>
            </div>
            <div class="icon-3">
                
                <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="0.8" d="m19 2-8.4 7.05a1 1 0 0 1-1.2 0L1 2m18 0a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1m18 0v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2"/>
                  </svg>
                  <h3>Arrienda:</h3>
                  <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae recusandae ipsum a earum ex aut itaque exercitationem nesciunt aliquid labore! </p>
            </div>



        </div>
    </section>

    <!-- Card de producto -->
    <h1>Productos principales</h1>

    <section class="anuncio-contenedor">
        {% for producto in productos|slice:":4" %}
        <div class="anuncio-contenido">

            <div class="anuncio-imagen">
                <img src="{{ producto.imagen.url }}" alt="Imagen de la tarjeta">
            </div>
            
            <div class="anuncio-body">
                <h2>{{ producto.nombre }}</h2>
                <form method="get" action="{% url 'detalle_producto' producto.id_producto %}">
                    <button class="boton-teal" type="submit">Ir al producto</button>
                </form> 
            </div>
        
        </div>
        {% endfor %}
    
    </section>


    <!-- Footeer -->
    
    {% include 'includes/footer.html' %} 



</body>
</html>