<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Importe de archivos SCSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/app.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css"/>

    <!-- Librería de Swiper (JavaScript) -->
    <title>Pagina Principal</title>
</head>

<body class="visibilidad">
    <script>

        window.addEventListener("load", function() {

        const elementosAnimados = document.querySelectorAll(".visibilidad");
        elementosAnimados.forEach(function(elemento) {

            elemento.style.opacity = "1";
        });
    });
    </script>

    <!-- Boton de wsp -->
    <a href="https://wa.me/942686753" class="boton-flotante">
        <img src="{% static 'imagenes/wsp.png' %}" alt="">
    </a>


    <div class="contacto-header">
        <ul class="nav-list">
            <li class="nav-item"><a href="{% url 'index' %}">correo@example.com</a></li>
            <li class="nav-item"><a href="https://wa.me/942686753">WhatsApp</a></li>

        </ul>
    </div>

    <!-- NAV BAR-->
    <header class="w-100">
        <div class=" contenido-header">
            
            <div class="logo">
                <a href="{% url 'index' %}">
                    <img src="{% static 'imagenes/sl_icon.png' %}" alt="Logo">
                </a>
            </div>
            
          
            <nav class="menu"> 
                <ul class="nav-list ">
                    <li class="nav-item"><a href="{% url 'index' %}">Inicio</a></li>
                    <li class="nav-item"><a href="{% url 'about' %}">Acerca de</a></li>
                    <li class="nav-item"><a href="{% url 'productos' %}">Productos</a></li>
                    <li class="nav-item"><a href="{% url 'contacto' %}">Contacto</a></li>
                </ul>
            </nav>
            
            <button class="menu-button">
                <img src="{% static 'imagenes/h_button.png' %}" alt="">
            </button>


        </div>
    </header>
    <script src="{% static 'js/index.js' %}"></script>
