/** Media Queries **/
@mixin telefono {
    @media (min-width: #{$telefono}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$tablet}) {
        @content;
    }
}
  
@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}
@mixin grid($columnas, $espaciado ) {
    display: grid;
    gap: $espaciado;
    grid-template-columns: repeat($columnas, 1fr);
}
@mixin boton($color, $display){
    background-color: $color;
    color: $blanco;
/*     font-weight: $bold;
 */    text-decoration: none;
    padding: 1rem 3rem;
    text-align: center;
    margin-top: calc(5rem/2);
    display: $display;
    border: 0rem;


    &:hover{
        background-color: darken($color, 5);
    }
}

@mixin subr($color, $grosor){
    content: "";
    display: block;
    border-bottom: $grosor solid $color; /* Color y grosor del subrayado */
    width: 30%; /* Ancho del subrayado, puedes ajustarlo según tus necesidades */
    margin: 0 auto; /* Centra el subrayado horizontalmente */
    margin-top: 5px; /* Espacio entre el texto y el subrayado */
}

@mixin centrarVert{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

@mixin centrarHor{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}