.seccion {
    margin-top: calc($separacion / 2);
    margin-bottom: calc($separacion / 2);
}
.contenido-centrado {
    max-width: 80rem;
}

.alinear-derecha{
    display: flex;
    justify-content: flex-end;
}

.w-100{
    width: 100%;
}

h1::after{
    @include subr($teal, 0.4rem);
}

.justificado{
    text-align: justify;

}



.boton-flotante {
    position: fixed; /* Posición fija en la ventana del navegador */
    bottom: 2rem; /* Distancia desde la parte inferior */
    right: 2rem; /* Distancia desde la derecha */
    color: #fff; /* Color de texto del botón */
    border: none; /* Sin borde */
    border-radius: 3px; /* Botón redondeado */
    text-decoration: none; /* Sin subrayado en el enlace */
    font-size: 16px;
    
    img{
        max-width: 6rem;
    }
}

.bg-white{
    background-color: white;
}
.bg-stone{
    background-color: $stone;
}
.p-2{
    padding: 2rem 0rem;
}

.m-2{
    margin: 2rem 0rem;
}