.contacto-contenedor{
/*   background-color: $stone;
 */  padding: 1rem 5rem 5rem 5rem;

    align-items: center;
    justify-content: center;
    .contacto-contenido{
        margin-top: 4rem; 
        transition: opacity 0.3s; 
        @include grid(1, 5rem);
        @include tablet{
            @include grid(2,5rem);
            }
    .contacto{
        border: 2px solid $teal; /* Agregar un borde rojo de 2px */
        border-radius: 10px;
        background-color: $stone;
        padding: 2rem;
        
        display: flex;
        flex-direction: column;
        align-items: center;

        cursor: pointer;
        transition: transform 0.2s;

        h2{
            font-size: 3rem;
            text-align: left; 
            margin: 0;
            color: black;
            text-shadow: none;
        }
        p {
            margin: 0;
            font-size: 18px;
            text-align: justify;
            text-shadow: none;

            
        }
        a {
            text-decoration: none;
            font-weight: bold;
           

        }
        
    
    }
    
    .contacto:hover {
        transform: scale(1.05);
        box-shadow: 1px 1px 2rem black;

    }
    } 
}
