<h1>
    Productos: 
</h1>
<section class="anuncio-contenedor">
    
    {% for producto in productos %}
        <div class="anuncio-contenido">

            <div class="anuncio-imagen">
                <img src="{{ producto.imagen.url }}" alt="Imagen de la tarjeta">
            </div>
            
            <div class="anuncio-body">
                <h2>{{ producto.nombre }}</h2>
                <form method="get" action="{% url 'detalle_producto' producto.id_producto %}">
                    <button class="boton-teal" type="submit">Ir al producto</button>
                </form> 
            </div>
        
        </div>
    {% endfor %}
    

</section>
