<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Importe de archivos SCSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/app.css' %}">
    
    <title>Pagina Principal</title>
</head>

<body>
    <!-- Boton de wsp -->
    <a href="https://wa.me/942686753" class="boton-flotante">
        <img src="{% static 'imagenes/wsp.png' %}" alt="">
    </a>


    <div class="contacto-header">
        <ul class="nav-list">
            <li class="nav-item"><a href="{% url 'index' %}">ventas@constructor31.com</a></li>
            <li class="nav-item"><a href="https://wa.me/942686753">WhatsApp</a></li>
            <li class="nav-item"><a href="{% url 'productos' %}">Instagram</a></li>
        </ul>
    </div>

    <header class="w-100">
        <div class=" contenido-header">
            
            <div class="logo">
                <a href="{% url 'index' %}">
                    <img src="{% static 'imagenes/logo.jpg' %}" alt="Logo">
                </a>
            </div>
            <nav>
                <ul class="nav-list">
                    <li class="nav-item"><a href="{% url 'index' %}">Inicio</a></li>
                    <li class="nav-item"><a href="{% url 'about' %}">Acerca de</a></li>
                    <li class="nav-item"><a href="{% url 'productos' %}">Productos</a></li>
                    <li class="nav-item"><a href="{% url 'contacto' %}">Contacto</a></li>
                </ul>
            </nav>
            
        </div>
    </header>