/* Estilo del footer */
.footer {
    margin-top: 4rem;
    background-color: $cerulean; 
    color: #fff; 
    padding: 20px 0; /* Espacio interno superior e inferior */
    text-align: center; /* Alineación del texto en el centro */
}

/* Estilo del contenido del footer */
.footer-content {
    max-width: 1200px; 
    margin: 0 auto; /* Centrar el contenido horizontalmente */
    padding: 0 20px; /* Espacio interno a los lados del contenido */
    display: flex;
    justify-content: space-between; /* Distribuye los elementos en el footer */
    align-items: center; /* Centra verticalmente el contenido */
}

/* Estilo de los enlaces del footer */
.footer-links {
    list-style: none; /* Elimina los marcadores de lista */
    padding: 0;
    margin: 0;
    li {
        display: inline;
        margin-right: 20px; /* Espacio entre los enlaces */
    }
    a {
        text-decoration: none;
        color: #fff;
        font-weight: bold;
    }
    a:hover {
        color: darken($color: $stone, $amount: 50%);
    }
}