.info-contenedor{

    h1::after{
        @include subr($teal, 0.4rem);
    }
}

.bg-white{
    background-color: white;
}
.bg-stone{
    background-color: $stone;
}

.info-contenido{
    margin: 0rem 3rem 1rem 3rem;
    @include grid(1, 1rem);

    @include tablet{
        @include grid(3, 5rem);
    }


    .info-header{
        display: flex;
        align-items: center;
        justify-content: center;
        h3{
            font-size: 2rem;
            font-weight: 500;
        }
        svg{
            width: 5rem; /* Tamaño deseado del contenedor */
            height: 5rem;
            path{
                stroke: $teal;

            }
            
        }
    }
    p{
        text-align: center;
        font-size: 1.5rem;
    }
}

path{
    stroke: $teal;
}

//Informacion asbesto

