.info-contenedor{

    h1::after{
        @include subr($teal, 0.4rem);
    }
}

.bg-white{
    background-color: white;
}
.bg-stone{
    background-color: $stone;
}

.info-contenido{
    margin: 0rem 3rem 1rem 3rem;
    @include grid(1, 1rem);

    @include tablet{
        @include grid(3, 5rem);
    }


    .info-header{
        display: flex;
        align-items: center;
        justify-content: center;
        h3{
            font-size: 2rem;
            font-weight: 500;
        }
        svg{
            width: 5rem; /* Tamaño deseado del contenedor */
            height: 5rem;
            
        }
    }
    p{
        text-align: center;
        font-size: 1.5rem;
    }
}

path{
    stroke: $teal;
}

//Listados de ventajas: 

.listaVentaja {
    margin: 2rem;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    background-color: $stone;
    
    .ventaja {
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: center;

        flex: 1 0 300px;
      
        border-radius: 8px;
        
        .iconoVentaja {
            padding: 1rem;
            width: 15%;
            height: auto;
            stroke: $cerulean;
          }
        h4{
            font-size: 14px;
        }
    }
    
}


