.contenedor-cards{

    @include centrarVert;
    @include tablet{
        @include centrarHor;

    }
    .card {
        background-color: #fff;
        @include centrarVert;
        width: 300px;
        border: 1px solid #ddd;
        border-radius: 8px;
        overflow: hidden;
        margin: 20px;
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);  
        
        .card-img {
            margin-top: 2rem;
            padding: 1rem;
            width: 30%;
            height: auto;
            stroke: $cerulean;
        }
        .card-content {
            @include centrarVert;
            padding: 0.1rem
    
        }
        .card-title {
            font-family: $f_ter;
            font-size: 18px;
            margin-bottom: 8px;
            padding: 0rem;
        }
        .btn {
            display: inline-block;
            padding: 3px 30px;
            background-color: $cerulean;
            color: #fff;
            text-decoration: none;
            border-radius: 2px;
            transition: background-color 0.3s;
            margin-bottom: 1rem;
        }
        
        .btn:hover {
            background-color: #2980b9;
        }
    }
}

.row{
    flex-direction: row !important;
}