{% load static %}

{% include 'includes/header.html' %} 

<main class="contenedor seccion">
        
    <h1>Conoce Sobre Nosotros </h1>
    
    <div class="contenido-nosotros">
        
        <img src="{% static 'imagenes/logo.jpg' %}" alt="Imagen de referencia">

       

        <div class="texto-nosotros">
            <p class="subtitulo-nosotros">25 años de experiencia</p>
            <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. In adipisci labore, dolorum accusamus omnis nesciunt ipsam hic ducimus. Molestias, consequuntur quod voluptates minus voluptate excepturi eaque unde possimus eum laborum exercitationem assumenda sequi rerum earum? Nemo atque quaerat veniam beatae qui consequuntur id. Consectetur eum quae, quam accusamus, nesciunt consequatur labore at voluptate harum, vel vero modi quo? Nisi rerum, iusto magni rem eum atque voluptatem maxime suscipit accusamus. Odio velit explicabo laboriosam, a, quis corporis quo at veritatis tenetur consequuntur atque qui, ipsam similique! Architecto autem, iure possimus doloribus perspiciatis corrupti ratione magni placeat quidem magnam quasi sint. Ex.</p>
        </div>
    
    </div>

</main>
    

{% include 'includes/footer.html' %} 
