{% load static %}

{% include 'includes/header.html' %} 

<section class="banner-contenedor-contacto">
    
    </section>

<section class="contacto-contenedor">
    
    <h1>Contactenos</h1>
    <div class="contacto-contenido">
    
        <div class="contenedor-cards">
            <div class="card">
                
                <div class="card-content">
                    <img src="{% static 'imagenes/svg/correo.png' %}" alt="Imagen mail" class="card-img">
                    <h3 class="card-title">Envianos un correo</h3>
                </div>
                <a style="margin: 1rem;" href="" class="btn">Contactanos</a>
        
            </div>
        </div>
        
        {% include 'includes/contCard.html' %} 

        

    
    </div>
</section>


{% include 'includes/footer.html' %} 
