{% load static %}

    {% include 'includes/header.html' %} 

    <!-- Banner -->
    <section class="banner-contenedor">
        <div class="banner-contenido">
            <h2>"Soluciones de Elevación y Equipos de Construcción"</h2>
            <h3>"Arriendo de Escaleras Ascensor y Más"</h3>

            <p>"En [Nombre de tu Empresa], ofrecemos soluciones de elevación y equipos de construcción confiables y eficientes para tus proyectos. Nuestros equipos de alta calidad te ayudarán a alcanzar nuevas alturas en la construcción."</p>
        </div>

    </section>
    <h1>
        Servicios que ofrecemos:
    </h1>
   
    <!-- Cards servicios ofrecidos-->
    <div class="contenedor-cards">
     

        <div class="card">
            <img src="{% static 'imagenes/geda_logo.png' %}" alt="Imagen" class="card-img">
            
            <div class="card-content">
                <h3 class="card-title">Retiro y disposición de asbesto</h3>
                <a href="" class="btn">Ver más</a>
            </div>
        </div>

        <div class="card">
            <img src="{% static 'imagenes/geda_logo.png' %}" alt="Imagen" class="card-img">
            <div class="card-content">
                <h3 class="card-title">Construcción</h3>
                <a href="" class="btn">Ver más</a>
            </div>
        </div>
        
        <div class="card">
            <img src="{% static 'imagenes/geda_logo.png' %}" alt="Imagen" class="card-img">
            <div class="card-content">
                <h3 class="card-title">Instalación colectores solares</h3>
                <a href="" class="btn">Ver más</a>
            </div>
        </div>
    </div>
    

    <!-- Cierre Cards servicios ofrecidos-->

    <div class="parallax">

    </div>

    <!--  ¿Por qué elegirnos? -->

    <section class="info-contenedor">
        <h1>
            ¿Por qué elegirnos?
        </h1>
        
        <div class="info-contenido">
            
            <div class="icon">
                <div class="info-header">
                    <svg class="text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 18">
                        <path  stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M16 5h2a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1h-2v3l-4-3H8m4-13H2a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h2v3l4-3h4a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1Z"/>
                    </svg>
                      <h3>Calidad Humana en Cada Proyecto:</h3>
                     
                </div>
                    <div class="info-body">
                        <p> En [Nombre de tu Empresa], valoramos cada proyecto como una oportunidad para construir relaciones duraderas. Más allá de las estructuras, incorporamos calidad humana en cada fase. Tu visión es nuestra misión, trabajamos juntos para hacerla realidad. </p>
                        
                    </div>
                
            </div>
            <div class="icon">
                <div class="info-header">
                    <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 20">
                        <path  stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M6 1v4a1 1 0 0 1-1 1H1m8-2h3M9 7h3m-4 3v6m-4-3h8m3-11v16a.969.969 0 0 1-.932 1H1.934A.97.97 0 0 1 1 18V5.828a2 2 0 0 1 .586-1.414l2.828-2.828A2 2 0 0 1 5.829 1h8.239A.969.969 0 0 1 15 2ZM4 10h8v6H4v-6Z"/>
                    </svg>
                    
                    <h3>Innovación en Eficiencia Energética:</h3>
                </div>
    
                <div class="info-body">
                    <p> Enfocados en soluciones como paneles solares, en [Nombre de tu Empresa] creamos no solo construcciones, sino fuentes de energía inteligente. Nuestros proyectos no solo ahorran costos, sino que también contribuyen a un futuro energético más limpio. </p>
                </div>
    
            </div>
            <div class="icon">
                <div class="info-header">
    
                    <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="0.8" d="m19 2-8.4 7.05a1 1 0 0 1-1.2 0L1 2m18 0a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1m18 0v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2"/>
                    </svg>
                    <h3>Compromiso Ambiental:</h3>
    
                </div>
    
                <div class="info-body">
                    <p> En [Nombre de tu Empresa], no solo consWtruimos, también lideramos en sostenibilidad. Desde la elección de materiales hasta prácticas ecoamigables, creamos un impacto positivo en el entorno, construyendo un futuro sostenible. 
                    </p>
                </div>
    
            </div>
        </div>
    </section>
    <!--  Cierre ¿Por qué elegirnos?? -->





    <!-- Main -->
    <!-- <section class="main-contenedor">
        <div class="main-contenido">
            <div class="main">
                
                <div class="main-body">
                    <h1>¿Por Qué Elegirnos?</h1>

                    <ul class="lista-elegirnos">
                        <li>
                            <h3>Nuestros Productos de Importación</h3>

                            <p>En [Nombre de tu Empresa], nos enorgullece ofrecer una exclusiva selección de productos de importación que son sinónimo de calidad y eficiencia. Nuestra gama de productos incluye dos categorías principales: Ascensores y Paneles Solares.</p>
                        </li>
                        
                        <a class="boton-teal" href="{% url 'productos' %}">Explora Nuestros Productos</a>
                        <li>
                            <h3>Calidad y Confiabilidad</h3>
                            <p>En [Nombre de tu Empresa], priorizamos la calidad y la confiabilidad en todos nuestros productos. Nuestra selección de productos de importación cumple con los más altos estándares de calidad.</p>
                        </li>

                    </ul>

                </div>

                <div class="main-image">
                    
                    <img src="{% static 'imagenes/p_solar.jpg' %}" alt="Imagen de la tarjeta">
                </div>
            </div>
            

        </div>
    </section>
 -->
    <!-- Cierre main -->



    <!-- Afiliados -->

    
    <div class="swiper mySwiper">
        <h3>Marcas con las que trabajamos: </h3>

        <div class="swiper-wrapper">
          <div class="swiper-slide"> <img src="{% static 'imagenes/geda_logo.png' %}" alt="Imagen de la tarjeta"></div>
          <div class="swiper-slide slide_2"> <img src="{% static 'imagenes/geda_logo.png' %}" alt="Imagen de la tarjeta"></div>
          <div class="swiper-slide slide_3"> <img src="{% static 'imagenes/geda_logo.png' %}" alt="Imagen de la tarjeta"></div>
         
        </div>
        <!-- <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div> -->

    </div>


    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <script src="{% static 'js/swiper.js' %}"></script>
    <script src="{% static 'js/index.js' %}"></script>

    {% include 'includes/footer.html' %} 


</body>
</html>