{% load static %}

    {% include 'includes/header.html' %} 
   


    <section class="info-contenedor bg-white">
        <h1>Solar</h1>
        
        <div class="info-contenido">
            <div class="icon">
                
                <div class="info-header">
                      <h3>Solar:</h3>
                </div>
                    
                <div class="info-body">
                    <p> Bienvenido a nuestro servicio especializado de Retiro y Disposición de Asbesto. En [Nombre de tu Empresa], entendemos la importancia de abordar de manera segura y eficiente la presencia de asbesto en cualquier entorno. El asbesto, un material que alguna vez fue ampliamente utilizado, ahora requiere una atención cuidadosa para garantizar la seguridad y protección de todos. </p>
                        
                </div>
            </div>
        </div>
        
        <div class="contenedor-cards">
            <div class="card">
                
                <div class="card-content row">
                    <img src="{% static 'imagenes/geda_logo.png' %}" alt="Imagen" class="card-img">
                    <h3 class="card-title">Contacta con nostros</h3>
                </div>
                <a style="margin: 1rem;" href="" class="btn">Contactanos</a>
    
            </div>
        </div>
    </section>   
    
    <div class="parallax"></div>


    <div class="contenedor-cards bg-stone p-2">
     
        <h2>
            Ventajas
        </h2>

        <div class="card">
            <div class="card-content">
                <h3 class="card-title">Obras civiles</h3>
            </div>
        </div>
   
       
    </div>
   
  
    <section class="info-contenedor bg-white">
        <h1>Retiro y disposición de asbesto</h1>
        
        <div class="info-contenido">
            <div class="icon">
                
                <div class="info-header">
                      <h3>Introducción al Retiro de Asbesto:</h3>
                </div>
                    
                <div class="info-body">
                    <p> Bienvenido a nuestro servicio especializado de Retiro y Disposición de Asbesto. En [Nombre de tu Empresa], entendemos la importancia de abordar de manera segura y eficiente la presencia de asbesto en cualquier entorno. El asbesto, un material que alguna vez fue ampliamente utilizado, ahora requiere una atención cuidadosa para garantizar la seguridad y protección de todos. </p>
                        
                </div>
            </div>
        </div>
        
        <div class="contenedor-cards">
            <div class="card">
                
                <div class="card-content row">
                    <img src="{% static 'imagenes/geda_logo.png' %}" alt="Imagen" class="card-img">
                    <h3 class="card-title">Contacta con nostros</h3>
                </div>
                <a style="margin: 1rem;" href="" class="btn">Contactanos</a>
    
            </div>
        </div>
    </section>   
   
   
    {% include 'includes/footer.html' %} 


</body>
</html>