{% load static %}

    {% include 'includes/header.html' %} 
           <h1>Instalación de colectores solares</h1>

 
    
    <div class="parallax"></div>

    <div class="listaVentaja">
        <h4>Ventajas de colectores solares:</h4>

        <div class="ventaja">
            <div class="iconoVentaja">
                    <img src="{% static 'imagenes/svg/correo.png' %}" alt="Imagen" class="card-img">
            </div>
          <h4>Transmisión térmica natural</h4>
        </div>
      
        <div class="ventaja">
            <div class="iconoVentaja">
                    <img src="{% static 'imagenes/svg/correo.png' %}" alt="Imagen" class="card-img">
            </div>
          <h4>Durabilidad y Bajo Mantenimiento</h4>
        </div>

        <div class="ventaja">
            <div class="iconoVentaja">
                    <img src="{% static 'imagenes/svg/correo.png' %}" alt="Imagen" class="card-img">
            </div>
          <h4>Fuente Renovable y Sostenible</h4>
        </div>

        <div class="ventaja">
            <div class="iconoVentaja">
                    <img src="{% static 'imagenes/svg/correo.png' %}" alt="Imagen" class="card-img">
            </div>
          <h4>Independencia Energética</h4>
        </div>
    </div>
        <section class="info-contenedor bg-white">
        
    
            <div class="contenedor-cards">
                <div class="card">
                    
                    <div class="card-content row">
                        <img src="{% static 'imagenes/svg/wsp.svg' %}" alt="Imagen" class="card-img">
                        <h3 class="card-title">Contacta con nostros</h3>
                    </div>
                    <a style="margin: 1rem;" href="" class="btn">Contactanos</a>
        
                </div>
            </div>
        </section>  
   
    {% include 'includes/footer.html' %} 


</body>
</html>